<po-page-detail [p-title]="title" [p-breadcrumb]="poBreadcrumb">
    <po-breadcrumb
        *ngIf="poBreadcrumbItem"
        [p-items]="poBreadcrumbItem"
    ></po-breadcrumb>
    <po-tabs>
        <po-tab p-label="Detalhes" [p-active]="true">
            <po-widget p-title="Funções">
                <po-accordion>
                    <ng-container *ngIf="item">
                        <po-accordion-item
                            *ngFor="let i of item.functions"
                            [p-label]="i.name"
                        >
                            <div class="code-container">
                                <div class="line-numbers">
                                    <pre *ngFor="let line of i.source.split('\n'); let idx = index">{{ idx + 1 }}</pre>
                                </div>
                                <pre class="code-content">{{ i.source }}</pre>
                            </div>
                        </po-accordion-item>
                    </ng-container>
                </po-accordion>
                
            </po-widget>
            <po-widget p-title="Tabelas">
                <po-accordion>
                    <ng-container *ngIf="item">
                        <po-accordion-item
                            *ngFor="let i of item.tables"
                            [p-label]="i.name"
                        >
                            <table>
                                <thead>
                                    <th>Campo</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of i.fields">
                                        <td>{{ c }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <pre>{{ i.source }}</pre> -->
                        </po-accordion-item>
                    </ng-container>
                </po-accordion>
            </po-widget>
        </po-tab>
        <po-tab p-label="Código fonte">
            <po-container>
                <div class="code-container">
                    <div class="line-numbers">
                        <pre *ngFor="let line of item.source.split('\n'); let i = index">{{ i + 1 }}</pre>
                    </div>
                    <pre class="code-content">{{ item.source }}</pre>
                </div>
            </po-container>
            
        </po-tab>
    </po-tabs>
    <br /><br />
</po-page-detail>
